*{padding: 0; /* selectro universal*/
margin: 0;
box-sizing: border-box;

}

body{
    background-color: turquoise;
font-family: Arial, Helvetica, sans-serif;
  color: white;
   width: 1000px;  
   height: 10px auto;
}